<ion-view view-title="我的钱包" id="page3" class=" " hide-nav-bar="true">
  <ion-content  class="">
    <ion-item class="text-center item-button-left" style="background-color:lightgray;padding-left:0;border-width:0">
      <button  class="button button-clear button-dark" ng-click="goBack()"><i style="font-size:20px" class="icon ion-chevron-left"></i></button>
      <h1 style="font-size:20px">{{user.name}}</h1>
    </ion-item>
    <ion-item class=" text-center" style="padding-left:0;border-width:0;background-color:lightgray;">
      <div class="row">
        <div class="col" style="padding:0;border-right: 1px solid #444;">
          <i class="icon ion-cash" style="font-size:25px"></i>
          <a class="dark"style="width:100%;height: 50px;font-size:25px">余额<div style="font-size:10px">0.00元</div></a>
        </div>
        <div class="col" style="padding:0;border-left: 1px solid #444;">
          <i class="icon ion-card" style="font-size:25px"></i>
          <a class="dark" style="width:100%;height: 50px;font-size:25px">银行卡<div style="font-size:10px">绑定银行卡</div></a>
        </div>
      </div>
    </ion-item>
    <div class="spacer" style="width: 300px; height: 20px;"></div>

    <ion-item class="item-thumbnail-left text-left light-bg item-avatar" style="height:100px;background-color:lightgray;margin:0 10px;border-radius:10px">
      <img style="height:80px;width:80px" ng-src="{{data.bankIco}}"/>
      <p style="font-size:20px"><strong>豆花银行</strong></p>
      <p>储蓄卡</p>
      <p style="font-size:20px;padding-top:20px">***&nbsp;****&nbsp;****&nbsp;{{user.bankcard| limitTo : 4 : 12}}</p>
    </ion-item>
  </ion-content>
</ion-view>
