<ion-view view-title="订单详情" id="page3" class="stable-bg">
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-back" ng-click="goBack()"></button>
  </ion-nav-buttons>
  <ion-content  class="has-header">
    <div class="spacer" style="width: 300px; height: 10px;"></div>

    <ion-list id="page4-list4" class=" ">

      <ion-item id="page4-list-item13" class="" href="" >
        <p style="font-size:15px">{{order.moviename}}</p>
        <p style="font-size:12px;color:red">{{order.date}}&nbsp;{{order.filmtime}}&nbsp国语3D</p>
        <p style="font-size:12px">{{order.cinemaname}}&nbsp;{{order.hall}}</p>
        <p style="font-size:12px;white-space:normal;"><any ng-repeat="seat in order.seats">{{seat}}&nbsp;</any></p>

      </ion-item>
      <ion-item class="" id="page2-list-item5" style="min-height: 140px;border-style:dashed">
        <div style="text-align: center">验证码:{{order.oid}}{{order.series}}</div>
        <div style="text-align:center">
        <img class=""  style="padding-bottom:2px;padding-top: 10px;" ng-src="{{order.qrcodeurl}}" />
        </div>
      </ion-item>
      <ion-item id="page4-list-item15" class="">
        <i class="ion-android-print" style="font-size:20px"><any>&nbsp;&nbsp;请到影院内取票机取票</any></i>
      </ion-item>
      <div class="spacer" style="width: 300px; height: 20px;"></div>
    </ion-list>
  </ion-content>
</ion-view>
